## Day 15: Analyse Data with NumPy Part - 2

1. Your task is to import the CSV file using NumPyâ€™s 
genfromtxt() function.   
a. Transpose the array.     
b. Using slicing, create three arrays: an array of all the 
names in the column, an array of the age column, 
and an array of the gender (sex) column.

In [7]:
import numpy as np
arr = np.genfromtxt("names_age_sex_data.csv", delimiter=",", dtype ='U7')
arr

array([['Name', 'Sex', 'Age'],
       ['Grace', 'Male', '18'],
       ['Charlie', 'Female', '60'],
       ['Olivia', 'Female', '27'],
       ['Frank', 'Male', '55'],
       ['Charlie', 'Male', '53'],
       ['Olivia', 'Male', '39'],
       ['Mia', 'Female', '60'],
       ['Jos', 'Male', '56'],
       ['Peter', 'Male', '44'],
       ['Olivia', 'Female', '57'],
       ['Charlie', 'Female', '41'],
       ['David', 'Female', '39'],
       ['Kate', 'Female', '49'],
       ['Thomas', 'Female', '37'],
       ['Alice', 'Female', '63'],
       ['Rob', 'Male', '56'],
       ['Piper', 'Female', '96'],
       ['Kate', 'Female', '41'],
       ['Liam', 'Female', '19'],
       ['Quinn', 'Female', '34'],
       ['Charlie', 'Male', '54'],
       ['David', 'Male', '18'],
       ['Ryan', 'Female', '49'],
       ['Kate', 'Male', '19'],
       ['John', 'Male', '21'],
       ['kelly', 'Female', '21']], dtype='<U7')

In [18]:
transposed_arr = arr.transpose()
transposed_arr

array([['Name', 'Grace', 'Charlie', 'Olivia', 'Frank', 'Charlie',
        'Olivia', 'Mia', 'Jos', 'Peter', 'Olivia', 'Charlie', 'David',
        'Kate', 'Thomas', 'Alice', 'Rob', 'Piper', 'Kate', 'Liam',
        'Quinn', 'Charlie', 'David', 'Ryan', 'Kate', 'John', 'kelly'],
       ['Sex', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male',
        'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female',
        'Female', 'Female', 'Male', 'Female', 'Female', 'Female',
        'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female'],
       ['Age', '18', '60', '27', '55', '53', '39', '60', '56', '44',
        '57', '41', '39', '49', '37', '63', '56', '96', '41', '19', '34',
        '54', '18', '49', '19', '21', '21']], dtype='<U7')

In [26]:
# slicing names
names = transposed_arr[0:1,1:]
names

array([['Grace', 'Charlie', 'Olivia', 'Frank', 'Charlie', 'Olivia',
        'Mia', 'Jos', 'Peter', 'Olivia', 'Charlie', 'David', 'Kate',
        'Thomas', 'Alice', 'Rob', 'Piper', 'Kate', 'Liam', 'Quinn',
        'Charlie', 'David', 'Ryan', 'Kate', 'John', 'kelly']], dtype='<U7')

In [28]:
# slicing age
age = transposed_arr[2:3,1:]
age

array([['18', '60', '27', '55', '53', '39', '60', '56', '44', '57', '41',
        '39', '49', '37', '63', '56', '96', '41', '19', '34', '54', '18',
        '49', '19', '21', '21']], dtype='<U7')

In [27]:
# slicing sex
sex = transposed_arr[1:2,1:]
sex

array([['Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female',
        'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female',
        'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male',
        'Male', 'Female', 'Male', 'Male', 'Female']], dtype='<U7')

2. Using NumPy, write code that returns all the names of 
people who are 56 years old.

In [33]:
age_56 = names[age=='56']
age_56

array(['Jos', 'Rob'], dtype='<U7')

3. How many people are aged 44 or under?

In [45]:
age_44_below = names[age<='44']

# using the shape attribute to find people under 44
age_44_below_num = np.shape(age_44_below)
print("The number of people aged 44 and under is", age_44_below_num[0])

The number of people aged 44 and under is 14

4. Write another code snippet to return an array of all the 
males in the dataset. How many males are in the dataset?

In [48]:
all_male = names[sex=="Male"]
all_male_num = len(all_male)

print(all_male)
print("The number of males is:", all_male_num)

['Grace' 'Frank' 'Charlie' 'Olivia' 'Jos' 'Peter' 'Rob' 'Charlie' 'David'
 'Kate' 'John']
The number of males is: 11

5. Calculate the average age of all the females in the table.

In [58]:
avg_female_age = age[sex=="Female"].astype(int).mean()

print("The average females age is ", avg_female_age)

The average females age is  46.2

6. Calculate the average age of people named Olivia and 
Kate.

In [84]:
age = age.astype(int)
olivia_age = age[names == 'Olivia']
kate_age = age[names == 'Kate']
avg_female_age_n = np.array([olivia_age, kate_age]).mean()
print(f"Average age ofpersons named Olivia and Kate is: {avg_female_age_n:.2f}")

Average age ofpersons named Olivia and Kate is: 38.67