## Day 36: Social Media Data Analysis

1. Load the data using pandas. Which location has the most 
active users based on total posts?  What is the total 
number of posts in this location?

In [1]:
import pandas as pd
df = pd.read_csv("social_media.csv")
df.head()

  username  age  gender      location  followers  posts  friends
0    user1   28    male  Philadelphia       5493     56      605
1    user2   22  female   Los Angeles       9530     25      683
2    user3   22    male  Philadelphia       7200     20      100
3    user4   32  female      New York       7164     90      364
4    user5   33    male     San Diego       4034     44      624

In [7]:
# Group the data by location and sum the number of posts per location
location_counts = df.groupby("location").sum()["posts"]

# find the Location with the maximum number of posts
most_active_loc = location_counts.idxmax()
print(f"The most active location based on posts is {most_active_loc}")
print(f"The total number of posts is {location_counts.max()}")

The most active location based on posts is New York
The total number of posts is 90

2. Which gender has the least number of friends, and what is 
the total number of friends for this gender?

In [21]:
# group by gender and sume of friends
gender_counts = df.groupby("gender").sum()["friends"]

# find the gender with the most friends
gender_with_most_friends = gender_counts.idxmin()

print(f"The gender with the least friends is {gender_with_most_friends} with a total number of {gender_counts.male} friends")

The gender with the least friends is male with a total number of 3017 friends

3. What is the gender, location, and age of the most active 
user based on posts?

In [28]:
# group by gender, location and age, sum posts
demographic_df = (
    df.groupby(["gender", "location", "age"], as_index=False)["posts"]
      .sum()
)

# most active user (one row with full details)
most_active_user = demographic_df.loc[demographic_df["posts"].idxmax()]

print(f"The most active user is a {most_active_user['age']}-year-old {most_active_user['gender']} from {most_active_user['location']} with {most_active_user['posts']} posts.")

The most active user is a 32-year-old female from New York with 90 posts.

4. Which city has the highest number of female users?

In [ ]:
# Group the data by city and gender, and the number of users in each group

city_gender_counts = df.groupby(["location", "gender"]).size(). reset_index(number = "count")

$ Filter

5. Using a pie plot type, compare the number of male and 
female users. Present your answer in percentages. Use 
only Matplotlib.